.inner {
    height: 560px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.box_wrap{
    display: flex;
    flex-flow: row wrap;
    float: left;
    justify-content: space-between;
    margin: 15px
}
.items { 
    width: 155px;
    height: 152px;    
    border: 1px solid #e3e3e3;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 15px;    
    margin: 4px;
}
.items .list_form {
    margin: 20px 15px;  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.list_form .list_title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.list_form .list_text {
    width: 125px;
    height: 55px;
    font-family: 'Times New Roman';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    word-break: break-all;
    -webkit-line-clamp: 3;
}
.emptyFrom{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    text-align: center;
}

.emptyTag{
    opacity: 0.4;
}
